.header{
    display: flex;
    justify-content: space-between;
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-image{
    width: 100%;
}

.main-image img{
    width: 110%;
    height: 25%;
}